// ----------------------------------------
// General

input[type="checkbox"],
input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.custom-checkbox,
.custom-radio {
    position: relative;
    display: inline-block;
    padding: 0 0 0 42px;
    vertical-align: middle;
    cursor: pointer;
    color: #222;

    &:hover:after {
        border-color: #0171bd;
    }

    &:after {
        position: absolute;
        top: 50%;
        left: 15px;
        display: block;
        margin-top: -10px;
        width: 16px;
        height: 16px;
        border: 2px solid #aaa;
        border-radius: 4px;
        content: "";
    }

    &:before {
        position: absolute;
        top: 50%;
        left: 21px;
        display: block;
        margin-top: -7px;
        width: 5px;
        height: 9px;
        border-right: 3px solid #0171bd;
        border-bottom: 3px solid #0171bd;
        content: "";
        opacity: 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

// ----------------------------------------
// Radio

.custom-radio {
    &:after {
        border-radius: 100%;
    }

    &:before {
        background: #0171bd;
        width: 8px;
        height: 8px;
        left: 19px;
        top: 13px;
        border-radius: 100%;
        transform: rotate(0deg);
    }
}

// checked
input[type="checkbox"]:checked + .custom-checkbox:before,
input[type="radio"]:checked + .custom-radio:before {
    opacity: 1;
}

// disabled
input[type="checkbox"]:checked:disabled + .custom-checkbox:before,
input[type="radio"]:checked:disabled + .custom-radio:before {
    opacity: 0.65;
}

// disabled label
input[type="checkbox"]:disabled + .custom-checkbox,
input[type="radio"]:disabled + .custom-radio {
    color: #666;
    cursor: default;
}

// disabled input
input[type="checkbox"]:disabled + .custom-checkbox:after,
input[type="radio"]:disabled + .custom-radio:after {
    border-color: #aaa;
}
